name: JS Actions

于:
  议题:
    types: [labeled]

jobs:
  action:
    if: ${{ !github.event.repository.is_template }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: ha-ha
        uses: ./.github/actions/joke-action
