name: JS Actions

on:
  issues:
    types: [labeled]

jobs:
  action:
    if: ${{ !github.event.repository.is_template }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: ha-ha
        uses: ./.github/actions/joke-action
      - name: 输出笑话
        run: echo "笑话: ${{ steps.ha-ha.outputs.joke-output }}"